
<h1>Sommario carrello</h1>


<div *ngIf="carrello.totaleQuantitaInCarrello ==0" class="m-3">
    Carrello vuoto torna al
    <a class="btn btn-success" routerLink="/catalogo">catalogo</a>  
    per selezionare i prodotti
</div>





<table *ngIf="carrello.totaleQuantitaInCarrello !=0"
class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Quantità</th>
        <th>Nome</th>
        <th>Prezzo</th>
        <th>Subtotale</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
           <tr *ngFor="let item of carrello.copiaProdottiInCarrello">
            <td><input min="1" 
                #inputQuantita 
                [value]="item.quantita" type="number" (change)="modificaQuantita(item.idProdotto, inputQuantita )"  > </td>
            <td>{{item.nome}} </td>
            <td>{{item.prezzo}} </td>
            <td>{{item.prezzo *  item.quantita}} </td>
            <td><button class="btn btn-danger" (click)="rimuoviDalCarrello(item.idProdotto)">Cancella</button></td>

           </tr> 
    </tbody>
    <tfoot>
        <tr><td colspan="3" class="text-end">Totale</td>
            <td>{{carrello.totalePrezziInCarrello}}</td>
        <td></td>
    </tr>
    </tfoot>
</table>

<div *ngIf="carrello.totaleQuantitaInCarrello !=0" >
    <button class="btn btn-primary m-2" routerLink="/catalogo" >Torna al catalogo</button>
    <button class="btn btn-success m-2" routerLink="/checkout">Completa l'ordine</button>

</div>
