*{
    box-sizing: border-box;
}
/*sistema il padding*/


h2{
    color: magenta;
    font-size: 30px;
}
p{
    color:blue;
    font-size: 25px;
}

.text-black{
    color: black;
    text-transform: uppercase;
}

.container{
    background-color: rgb(255, 45, 45);
    width: 960px;
    height: 400px;
    margin: 0 auto;

}

.container-grey{
    background-color: rgb(190, 190, 190);
    padding: 10px;
    width: 960px;
    height: 400px;
    margin: 0 auto;
    
}

.p1{
    color:black;
    font-size: 25px;
    
}